*body{
    font-family: Arial, Helvetica, sans-serif;
}

.cabercalhoLista{

    display: flex;
    display: inline;
    text-decoration: none;
    margin-left: 100px;
    margin-top: 100px;
}

.imagemMenu{
    width: 32px;

}

/* menu Mobile */

.butaoMenu{
    width: 32px;
    background-color:transparent;
    border: none;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}


.invisivel{
    display: none;
}

.cabercalhoListaMenu{
    text-decoration: none;
}

/* fim do menu mobile */

.titulo{
    font-size: 1.5rem;
}


/* Resposividade */
@media ( max-width: 1241px) {

    .cabercalhoLista{
        display: none;
    }

    .butaoMenu{
        display: flex;
        
    }
}